<form name=birthday action='/birthday' method='POST'>
  Enter name: <input type='text' name="name"> <br><br>
  Enter birthday (dd/mm/yyyy): <input type="date" name="birthday"> <br><br>
  <input type='submit' value='Submit'>
</form>
